[galaxy]
server_list = redhat_hub, galaxy

[galaxy_server.redhat_hub]
url = https://console.redhat.com/api/automation-hub/content/published/
auth_url = https://sso.redhat.com/auth/realms/redhat-external/protocol/openid-connect/token
token = eyJhbGciOiJIUzUxMiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICI0NzQzYTkzMC03YmJiLTRkZGQtOTgzMS00ODcxNGRlZDc0YjUifQ.eyJleHAiOjE3ODkyNjY2NzksImlhdCI6MTc4NjY3NDY3OSwianRpIjoiYTQ2ZTliMTctZDIxMi0wOTFjLTgyOTUtYjQ1NWE0ZWJhNWQwIiwiaXNzIjoiaHR0cHM6Ly9zc28ucmVkaGF0LmNvbS9hdXRoL3JlYWxtcy9yZWRoYXQtZXh0ZXJuYWwiLCJhdWQiOiJodHRwczovL3Nzby5yZWRoYXQuY29tL2F1dGgvcmVhbG1zL3JlZGhhdC1leHRlcm5hbCIsInN1YiI6IjU5MjI3MDk1IiwidHlwIjoiT2ZmbGluZSIsImF6cCI6ImNsb3VkLXNlcnZpY2VzIiwibm9uY2UiOiI1NWI5NTJjOC04ZjAzLTQ2ZGEtOGU5Ni0zZTk5YjBjNzcxYTgiLCJzaWQiOiJiZmQyMmEwYy03MTcwLTk2MmYtYjFjOC1lNWJkOTdiNjVjZGQiLCJzY29wZSI6Im9wZW5pZCBhcGkuY29uc29sZSBiYXNpYyByb2xlcyB3ZWItb3JpZ2lucyBjbGllbnRfdHlwZS5wcmVfa2MyNSBhcGkuYXNrX3JlZF9oYXQgb2ZmbGluZV9hY2Nlc3MifQ.W1Aun1cZ65v3penWc7bvk-G3E4VQa7cRS7dKApJ39gMX38CpWlM1Y5z1r3NdV_3398yyEHSZWCdRZ8uODKcc1g

[galaxy_server.galaxy]
url = https://galaxy.ansible.com/
